<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/iniciodepagina.css">
<link rel="icon" href="imagenes/logo.png">
<title>Inicio - Departamento de Psicología</title>
</head>
<body>

<header>
    <h1>Psicología</h1>
    <a href="file:///C:/Users/Usuario/Desktop/Trabajo%20final%20juan/templates/agendar_Psicologo.html" class="agendar-btn">
        Agendar Cita
    </a>
</header>

<section class="bienvenida">
    <h2>Bienvenido</h2>
    <div class="bienvenidas">
    <h3>¿De qué trata la Aplicación web</h3>
    <p> Aquí podrás agendar tus citas de manera rápida y sencilla, ya sea a padre.
        su objetivo principal es facilitar la gestión de citas entre estudiantes y psicólogos mejorando la comunicacion entre el padre,
        profesor y psicolog.
    </p>
    </div>
</section>

<section class="informacion">
    <h2>Sobre el Departamento</h2>
    <div class="contenido">
        <img src="/imagenes/download.jpg" alt="Imagen de Psicología">
        </div>
        <div class="texto">
    <p>Desde el Departamento de Psicología Escolar queremos presentarnos como un espacio de acompañamiento, escucha y orientación para toda la comunidad educativa: estudiantes, familias y docentes.
        Nuestra labor está enfocada en promover el bienestar emocional, social y educativo de los alumnos, generando espacios de diálogo, reflexión y construcción conjunta. Entendemos que cada situación escolar y personal es única, y por eso trabajamos de manera integral, respetuosa y confidencial.
        Acompañamos procesos de aprendizaje, brindamos apoyo ante situaciones que impactan en lo emocional y lo educativo, y trabajamos en conjunto con docentes y familias para construir entornos escolares saludables, inclusivos y contenedores.
        Invitamos a todos los miembros de la comunidad a acercarse, consultar y participar. El cuidado de la salud mental y emocional es una tarea de todos, y en ese camino estamos para acompañar.
    </p>
    </div>
</section>

<section class="equipo">
    <h2>Conoce a Nuestras Psicólogas</h2>
    <div class="tarjetas">
    <div class="tarjeta">
        <img src="/imagenes/download.jpg" alt="Psicólogo 1">
        <h3> <strong> No me se sus nombres </strong> </h3>
        <p>Se encarga de el nivel de 4to</p>
    </div>
    <div class="tarjeta">
        <img src="/imagenes/poli2.jpg" alt="Psicóloga 2">
        <h3> <strong> No me se sus nombres </strong> </h3>
        <p>Encargada del nivel de 5to</p>
    </div>
    <div class="tarjeta">
        <img src="/imagenes/poli3.jpg" alt="Psicóloga 3">
        <h3> <strong> No me se sus nombres </strong> </h3>
        <p>se encarga de el nivel de 6to</p>
    </div>
    </div>
</section>

<script src="inicio.js"></script>

<footer>
</footer>
</body>
</html>
