<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceder - Departamento de Psicología</title>
    <link rel="stylesheet" href="/static/css/registr.css">
    <link rel="icon" href="/static/imagenes/logo.png">
    <script src="/static/js/registro.js"></script>
</head>
<body>

<div class="formulario-contenedor">
    <div id="form-registro" class="formulario">
        <h2>Registrarse</h2>
        
        
        <form action="/record" method="POST" onsubmit="return validarFormulario()">
            

            <input type="text" placeholder="Nombre" id="nombre" name="name" required>
            <input type="text" placeholder="Apellido" id="apellido" name="lastName" required>
            <input type="email" placeholder="Correo electrónico" id="correo" name="email" required>
            <input type="password" placeholder="Contraseña" id="contraseña" name="password" required minlength="8">
            <input type="password" placeholder="Confirmar Contraseña" id="confirmarContraseña" name="confirmar_password" required>

            <button type="submit">Registrar</button>
            <a href="/login"><strong>¿Ya tienes una cuenta?</strong></a>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>
</div>

<script>
function validarFormulario() {
    // Validar que las contraseñas coincidan
    const contraseña = document.getElementById('contraseña').value;
    const confirmarContraseña = document.getElementById('confirmarContraseña').value;
    
    if (contraseña !== confirmarContraseña) {
        alert('Las contraseñas no coinciden');
        return false;
    }
}
    
</script>

</body>
</html>